# WEB_SCRAPING_ASSIGNMENT-2

Instructions

1.All the questions must be done in a single Jupyter notebook.

2.There should be proper comments in code

Getting_Started

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [76]:
# Installing_Selenium
# Importing all required library and packages

import selenium
from selenium import webdriver
import pandas as pd
from selenium.common.exceptions import NoSuchElementException #Incase element is not available
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
import time

In [89]:
driver = webdriver.Chrome(executable_path="G:/DataTrained n FlipRobo_Pojects/chromedriver.exe") # Connect to the web driver

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name,experience_required. You have to scrape first 10 jobs data.

Required Details
    - job-title
    - job-location
    - company_name
    - experience_required

In [58]:
#getting Url
url = 'https://www.naukri.com/'
driver.get(url)

search_job = driver.find_element_by_id('qsb-keyword-sugg') #search bar
search_job.send_keys("Data Analyst") #Adding "Data Analyst" in search bar

#time.sleep(4) #Sleep, just to make sure page will load perfectely 
#later = driver.find_element_by_xpath("//span[@class='fr geoLocBtn later']") #unwanted popup
#later.click() #closing popup

search_loc = driver.find_element_by_id("qsb-location-sugg") #job location
search_loc.send_keys("Banglore") #Adding "Banglore" in search bar

search_btn = driver.find_element_by_xpath("//button[@class='btn']") #submit button
search_btn.click() #submitting the input

time.sleep(2) #Sleep, just to make sure page will load perfectely 

#defining empty list for data
job_titles=[]
company_names=[]
experience_list=[]
locations_list=[]
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #Job Title
for i in range(0,10):
    job_titles.append(titles_tags[i].text)
    
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") #Company Name
for i in range(0,10):
    company_names.append(companies_tags[i].text)

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span") #Experience
for i in range(0,10):
    experience_list.append(experience_tags[i].text)
    
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span") #Location
for i in range(0,10):
    locations_list.append(locations_tags[i].text)
    
jobs=pd.DataFrame({}) # initializing Dataframe
jobs['Title'] = job_titles
jobs['Company'] = company_names
jobs['Experience'] = experience_list
jobs['Location'] = locations_list
jobs #priniting job details

,Title,Company,Experience,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Senior Data Analyst - Data Lineage,Opex Global Services,5-10 Yrs,Bangalore/Bengaluru
2,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
3,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Mind Circus Innovation,0-1 Yrs,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru"
4,Data analysts,IBM India Pvt. Limited,3-5 Yrs,Bangalore/Bengaluru
5,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.,4-8 Yrs,Bangalore/Bengaluru
6,Business Data Analyst,"dotSolved India Pvt., Ltd.",9-13 Yrs,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)"
7,Data Analyst,Myntra Designs Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.,3-8 Yrs,Bangalore/Bengaluru
9,Data Analyst - Category Demand Management (Rev...,Myntra Designs Pvt. Ltd.,1-4 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

Required Detail
        - job-title
        - job-location
        - company_name
        - full job-description

In [59]:
# List of variable

Job_Title = []
Job_Location = []
Company_Name = []
Job_Description = []

In [60]:
# Searching data in web browser
url = "https://www.naukri.com/"
driver.get(url)

In [61]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
time.sleep(3)
search_loc =driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")
time.sleep(4)
Search_btn = driver.find_element_by_xpath("//button[@class='btn']")
Search_btn.click()

In [62]:
#Job_title

for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Job_Title.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span"):
    Job_Location.append(i.text)   
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):  
    Company_Name.append(i.text)

In [63]:
desc_path = []

for i in driver.find_elements_by_xpath("//div[@class='info fleft']/a"):
    desc_path.append(i.get_attribute('href'))

desc_path

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16238492172874018&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16238492172874018&xp=2&px=1',
 'https://www.naukri.com/job-listings-immediate-opening-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-140621005528?src=jobsearchDesk&sid=16238492172874018&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-5-to-9-years-140621500966?src=jobsearchDesk&sid=16238492172874018&xp=4&px=1',
 'https://www.naukri.com/job-listings-vp-sr-data-scientist-for-morgan-stanley-bangalore-morgan-stanley-advantage-services-pvt-ltd-bangalore-bengaluru-8-to-13-years-010621002131?src=jobsearchDesk&sid=16238492172874018&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fico-bangalore-bengaluru-6-to-11-years-090621500701?src=jobsearchDesk&sid=16238492172874018&xp=6&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-10-to-15-years-110621003012?src=jobsearchDesk&sid=16238492172874018&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-analytics-data-scientist-intern-work-from-home-talkvalley-llc-kolkata-bangalore-bengaluru-delhi-ncr-0-to-5-years-050621000128?src=jobsearchDesk&sid=16238492172874018&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-bengaluru-bangalore-2-to-6-years-080621904251?src=jobsearchDesk&sid=16238492172874018&xp=9&px=1',
 'https://www.naukri.com/job-listings-digital-enterprise-architect-data-scientist-mphasis-limited-bangalore-bengaluru-10-to-13-years-030621902728?src=jobsearchDesk&sid=16238492172874018&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-020621905994?src=jobsearchDesk&sid=16238492172874018&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-030621907010?src=jobsearchDesk&sid=16238492172874018&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16238492172874018&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-8-to-10-years-020621500403?src=jobsearchDesk&sid=16238492172874018&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-execboardinasia-bangalore-bengaluru-5-to-10-years-030621500359?src=jobsearchDesk&sid=16238492172874018&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-with-python-next-bee-corporation-kolkata-chandigarh-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-6-to-10-years-140621002374?src=jobsearchDesk&sid=16238492172874018&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-publicis-groupe-bangalore-bengaluru-2-to-5-years-140621501233?src=jobsearchDesk&sid=16238492172874018&xp=17&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-intelligent-industrial-internet-systems-pvt-ltd-bangalore-bengaluru-mumbai-all-areas-3-to-6-years-030621003155?src=jobsearchDesk&sid=16238492172874018&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-visualization-aruba-networks-bangalore-bengaluru-4-to-8-years-090621501101?src=jobsearchDesk&sid=16238492172874018&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-3-to-7-years-070621501457?src=jobsearchDesk&sid=16238492172874018&xp=20&px=1']

In [64]:
type(desc_path)

list

In [65]:
job_list = []

for i in desc_path:
    try:
        driver.get(i)
        job = driver.find_element_by_class_name('dang-inner-html')
        job_list.append(job.text.replace("\n"," "))
        time.sleep(5)
    except NoSuchElementException as n:
        job_list.append("---")
        print("Exception :",n)
        
job_list

Exception : Message: no such element: Unable to locate element: {"method":"css selector","selector":".dang-inner-html"}
  (Session info: chrome=91.0.4472.101)

Exception : Message: no such element: Unable to locate element: {"method":"css selector","selector":".dang-inner-html"}
  (Session info: chrome=91.0.4472.101)

Exception : Message: no such element: Unable to locate element: {"method":"css selector","selector":".dang-inner-html"}
  (Session info: chrome=91.0.4472.101)

Exception : Message: no such element: Unable to locate element: {"method":"css selector","selector":".dang-inner-html"}
  (Session info: chrome=91.0.4472.101)

Exception : Message: no such element: Unable to locate element: {"method":"css selector","selector":".dang-inner-html"}
  (Session info: chrome=91.0.4472.101)

Exception : Message: no such element: Unable to locate element: {"method":"css selector","selector":".dang-inner-html"}
  (Session info: chrome=91.0.4472.101)

Exception : Message: no such element: Unable to locate element: {"method":"css selector","selector":".dang-inner-html"}
  (Session info: chrome=91.0.4472.101)

["Job Role : Data Scientist/Data Analyst /Business Analyst  Location : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi  Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics 43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.  While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.  To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey. Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science. If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.  Call to schedule interview Monday -Saturday from 10:00 am to 7Pm  Alexandria A - +91 76958 88879 Manigandan -+91 93444 57360  Email :  alexandriaa@centerforaia.com manigandan@centerforaia.com  What is needed from you?  Freshers who wish to start their career in Analytics and AI and professionals who wish to upskill or change their domain to analytics and emerging technologies are free to apply. An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA Skills relating to Mathematics/Statistics. Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization Good verbal and written communication skills Ability to understand domains in businesses across various sectors   Selection procedure includes  Aptitude Test & Communication Exam - Online / Offline SQL/Python test - Online / Offline  Candidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.   All the Shortlisted candidates will be eligible to continue the corporate training with CAIA What you can expect from us?  You will get trained on the following modules for a period of 12-14 weeks:  SQL & PLSQL Data Wrangling using Python Data Visualization Using Power-BI Statistics for Machine Learning Artificial Intelligence, Data Interpretation Supervised & Unsupervised Learning, NLP & Deep Learning Cloud Data Lake Business intelligence & Data Visualization Simulation Projects Expected Outcome?  At the end of the Training you are expected to be well versed with the following:  Analysis of large and complex data sets from multiple sources Development and evaluation of data analytics models, algorithms and solutions Understanding/implementation of ML algorithms, performance tuning and reporting Implementation of algorithms to mine targeted data and the ability to convert data in to a business story Translation of business requirements into technical requirements; Data extraction, preparation and transformation Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders Finding analytical solutions to abstract business issues. Apply objective analysis of facts before coming to a conclusion  About CAIA - Inflexion Analytix Private Limited  Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies. Our Website : http://www.centerforaia.com/  https://inflexion-analytix-private-limited.business.site/?m=true  Center for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:  1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics 2. Advanced Training programs for readying the future ready workforce 3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.",
 '---',
 '---',
 'Serve as primary technical lead on all phases of the projects from providing solutioning, experimentation and deployment. Willing to get your hands dirty with data analysis as well as be comfortable delegating tasks to junior members on the project team, thus providing technical guidance and oversight to the overall project. Hands-on solutioning within the chosen AI platform to partner with both customer and internal data solution architects. Must Have 8 years of experience delivering results from advanced analytics projects; with at least 2 years experience leading a project or large workstream Experience working on data analytics problems in commercial problems space such as pricing, supply chain, marketing or customer experience. Proven track record with building and deploying supervised classification, regression, deep learning and unsupervised clustering models and time series analysis. 5 years of Knowledge and or experience with data transformations using SQL, leveraging SAS or SAS Viya platform. Statistical model building with 5 years of experience Basic understanding of machine learning models development in python and leveraging AWS. Bachelors Degree in Engineering, Mathematics Analytics, Economics or Business Nice to Have 5 years of Knowledge and experience with SAS or SAS Viya platform Experience working with remote teams spread across the globe Machine Learning modelling experience Python programming to build ML models AWS or equivalent other cloud based services knowledge SAS EG Experience working in a data analytics COE or in an analytics consulting company',
 'About Us Morgan Stanley is a leading global financial services firm providing a wide range of investment banking, securities, investment management and wealth management services. We advise, originate, trade, manage and distribute capital for governments, institutions and individuals. As a market leader, the talent and passion of our people is critical to our success. Together, we share a common set of values rooted in integrity, excellence and strong team ethic. We provide you a superior foundation for building a professional career where you can learn, achieve and grow. Technology/Role/Department at Morgan Stanley Technology is the key differentiator that ensures that we manage our global businesses and serve clients on a market leading platform that is resilient, safe, efficient, smart, fast and flexible. Technology redefines how we do business in global, complex and dynamic financial markets. We have a large number of award winning technology platforms that help to propel our Firm’s businesses to be the top in the market. Our India technology teams are based in Mumbai and Bengaluru. We have built strong techno-functional teams which partner with our offices globally taking global ownership of systems and products. We have a vibrant and diverse mix of technologists working on different technologies and functional domains. There is a large focus on innovation, inclusion, giving back to the community and sharing knowledge. Wealth Management Technology (WMIMT) is responsible for the design, development, delivery, and support of the technical platform behind the products and services used by the Business. Morgan Stanley Wealth Management (WM) is a product of the acquisition of Smith Barney from Citigroup, which was completed in June ‘13. Its core client base is individual investors, small- to medium-size businesses and institutions, and high net worth families and individuals. In the second half of ‘14, WM reached a milestone, with its business having surpassed $2 trillion in total client assets. We are seeking a Machine Learning Engineer with expertise in design and development of data and ML centric applications at scale. The right candidate would have a background in data engineering and requisite familiarity and experience working with Machine learning (ML) algorithms and Frameworks. The role is a confluence of engineering (programming), ML and data analysis. Knowledge of Data Science is a plus. This position is for the Decision products which is part of Artificial Intelligence and Knowledge Management group within Morgan Stanley Wealth Management. The team is comprised of members located in NY-United States, Mumbai-India and Bengaluru-India. The team partners with various businesses and IT groups within firm to develop analytics and ML powered solutions aimed at targeting Clients, Participants and Financial Advisors with relevant recommendations. The team accumulates data from a variety of internal and external upstream systems in order to develop statistics, models, dashboards and metrics for the Digital Platforms team. The right candidate has (Responsibilities) • Create ML model training, validation and hyper-parameter search pipelines • Explore new data sources and data. Select appropriate datasets and their representation methods. Perform data analysis (statistical and otherwise), to derive inferences from data • Design machine learning systems, and oversee the platform on which the solutions would be deployed • Ensure data integrity through – Data quality, validation, Governance and Transparency • Design and Build distributed, scalable, and reliable data pipelines that ingest and process data at scale and in real-time • Production deployment and Model monitoring to ensure stable performance and adherence to standards • Evaluate state-of-art data-centric technologies and prototype solutions to improve our architecture and platform • Understand data visualization to create meaningful dashboards for end-users Qualifications - External Primary skills • Experienced professional with 8-15 years of experience developing and implementing ML models in Big data ecosystem i.e. Hadoop, Spark, Kafka, HBase, Hive / Impala, Cassandra, MongoDB or any other similar distributed computing technology • Proficiency with Scala / Python and basic libraries for machine learning such as scikit-learn, pandas, deep-learning • Proficiency in data analysis using complex and optimized SQL and / or above mentioned technologies • Understanding of data structures, data modeling and software architecture • Experience in architecture, design and implementation of data intensive applications for practical use-cases • Expertise in visualizing large datasets in an efficient manner • Ability to work in fast paced and dynamic environment • Good written and verbal communication skills Good to have skills • In-depth understanding of Machine Learning and Statistics, in addition to above • Experience in domains – Financial Risk and Log Analytics • Worked on large scale Anomaly Detection use cases • Practical knowledge of Natural Language Processing (NLP) and/or Neural network implementation • Tableau for data visualization • Experience working in an Agile environment  If you are interested, please respond with your updated resume along with below mentioned details.  CTC: Exp: Notice: Have you earlier worked with Morgan Stanley:',
 'Job Summary The candidate should be a Cybersecurity Data Scientist with a background in machine learning for cybersecurity applications. HeShe will contribute, provide subject matter expertise in the area of cybersecurity for critical infrastructure systems.  Research, develop, design and implement machine learning algorithms for cyber threat detection in operational technology environments, under limited direction. Identify data types to enable detection of cyber events. Test and validate developed algorithms on real operational data. Identify, define, and scope complex data analytics problems in the cybersecurity domain. Develop cross-domain strategies for increased network security and resiliency of the entire network.',
 'Position Description: The Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you. Job Responsibilities: Ability to understand a problem statement and implement analytical solutions & techniques independently with independently/proactively/thought-leadership Work with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions Fast learner: ability to learn and pick up a new language/tool/ platform quickly Conceptualize, design, and deliver high-quality solutions and insightful analysis Conduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems Collaborate and coordinate with different functional teams (engineering and product development) to implement models and monitor outcomes Ability to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation & Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization Experience Required: Minimum 10+ years of experience in Machine Learning domain Expert level proficiency in at least one of R and Python Ability to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms Experience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance Problem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes Intermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis We use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go Good to Have: Experience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems Experience of working in on one or more domains: CPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management BFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection Healthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse Experience in working with Linux computing environment and use of command line tools like sed/awk Good grasp on databases including RDBMS, NoSQL, MongoDB etc.',
 'We are a group of tenured professors from Tier-1 business schools in US universities. We teach machine learning and deep learning to master and PhD students. For our efforts with MentorStudents.org, we are looking to hire a team of interns who are interested in learning data science and analyze data under our supervision.  Hours commitment: at least 42.5 hrs/week  Duration of the internship: 3 months  Required skills: Communication skills, Python, and OOP  Perks (besides getting paid): Learn from professors who teach machine learning in the US + internship completion certificate + endorsement of your candidacy to US companies for a remote job via our placement business unit + networking (check out https://MentorStudents.org)  Next step / TEST for Selection: This test will help you present your resume better and improve your employability. Hence, it is in your interest to work on this test. Create a tutorial in Google doc on how to create a timeline in Tableau Public. Use events from your resume as events for the timeline. You are encouraged to look at https://public.tableau.com/en-us/gallery for inspiration. Send your Google doc link at jobs [at] mentorstudents [dot] org. Make sure to make the link publicly accessible so that our team can evaluate your work.',
 '---',
 '---',
 '---',
 '---',
 '---',

In [66]:
# creating a dataframe of the scraped data.

DataScientist = pd.DataFrame()
DataScientist['Job Title'] = Job_Title
DataScientist['Job Location'] = Job_Location
DataScientist['Company Name'] =Company_Name
DataScientist['Description'] =job_list 

DataScientist = DataScientist.head(10)
DataScientist

,Job Title,Job Location,Company Name,Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job Role : Data Scientist/Data Analyst /Busine...
1,Senior Data Scientist,Bangalore/Bengaluru,RedBus,---
2,Immediate job opening - Senior Data Scientist,Bangalore/Bengaluru,RedBus,---
3,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,Serve as primary technical lead on all phases ...
4,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Bangalore/Bengaluru,Morgan Stanley Advantage Services,About Us Morgan Stanley is a leading global fi...
5,Lead Data Scientist,Bangalore/Bengaluru,FICO,Job Summary The candidate should be a Cybersec...
6,Lead Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics,Position Description: The Artificial Intellige...
7,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,We are a group of tenured professors from Tier...
8,Data Scientist - IBM Garage,Bengaluru/Bangalore,IBM India Pvt. Limited,---
9,Digital Enterprise Architect (Data Scientist),Bangalore/Bengaluru,Mphasis Limited,---

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

Detail required to scrap
job-title
job-location
company name
experience required

In [67]:
# opening naukri website
url = "https://www.naukri.com/"
driver.get(url)

In [68]:
#Searching detail 
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
time.sleep(3)
Search_btn = driver.find_element_by_xpath("//button[@class='btn']")
Search_btn.click()

In [69]:
# finding filtering element
from selenium.common.exceptions import StaleElementReferenceException

for i in driver.find_elements_by_xpath("//span[@class='ellipsis fleft']"):
    try:
        if i.text == 'Delhi / NCR':
             i.click()
    except StaleElementReferenceException as s:
        print("Exception",s)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

In [70]:
for i in driver.find_elements_by_xpath("//span[@class='ellipsis fleft']"):
    try:
        if i.text == '3-6 Lakhs':
            i.click()
        else:
            pass
    except StaleElementReferenceException as s:
        print("Exception",s)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

Exception Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

In [71]:
job_title = []
job_location = [] 
company_name = [] 
experience_required = []

In [72]:
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_title.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span"):
    job_location.append(i.text)   
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):  
    company_name.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span"):
    experience_required.append(i.text)

In [73]:
DataScientiest = pd.DataFrame()
DataScientiest['Job Title'] = job_title
DataScientiest['Job Location'] = job_location
DataScientiest['Company Name'] = company_name
DataScientiest['Experience'] = experience_required
DataScientiest = DataScientiest.head(10)
DataScientiest

,Job Title,Job Location,Company Name,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
2,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
3,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
4,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,3-5 Yrs
5,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD,4-7 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd,2-5 Yrs
7,Data Scientist,Noida,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
8,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs
9,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

Detail Required to scrab
->company_name
->No. of days ago
->Rating of the company

In [3]:
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"
driver.get(url)

In [4]:
company_names=[]
days=[]
urls=[]
ratings=[]

companies_tags=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
for i in range(0,10):
    company_names.append(companies_tags[i].text)
    
post_day=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in range(0,10):
    days.append(post_day[i].text)
    
job_url=driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")
for i in range(0,10):
    urls.append(job_url[i].get_attribute('href'))
    
for i in urls:
    driver.get(i)
    try:
        rating_tags=driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
        ratings.append(rating_tags.text.replace("\n",' '))
    except NoSuchElementException as e:
        ratings.append("N/A")
        
jobs=pd.DataFrame({})
jobs['Company'] = company_names
jobs['Rating'] = ratings
jobs['Posting Date'] = days
jobs

                 Company Rating Posting Date
0          Data Patterns  3.0 ★           1d
1  Ginger Webs Pvt. Ltd.    N/A           5d
2     UnitedHealth Group  3.7 ★           1d
3                  Crowe  3.8 ★          13d
4               Ericsson  4.1 ★          12d
5                  Jubna    N/A          13d
6                  Adobe  4.4 ★           3d
7                CRMNEXT  3.7 ★         30d+
8               Techlive  5.0 ★         30d+
9         Biz2Credit Inc  3.7 ★         30d+

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

Detail Required to scrab
->company_name
->min salary
->max salary
->Average salary
->rating of the company.

In [90]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [91]:
search_job = driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data Scientist")
search_loc= driver.find_element_by_id('LocationSearch')
search_loc.send_keys("Noida")

In [92]:
search_btn = driver.find_element_by_id('HeroSearchButton')
search_btn.click()

In [103]:
import requests
requests.get(url)

In [95]:
avg_salary=[]
salary_r=[]
company_name=[]

In [96]:
c = driver.find_elements_by_xpath("//p[@class='m-0 ']")
c[0:10]

[]

In [97]:
for i in c:
    title=i.text
    company_name.append(title)
company_name[0:10]

[]

In [98]:
a = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
a[0:10]

[]

In [99]:
for i in a:
    title=i.text
    avg_salary.append(title)
avg_salary[0:10]

[]

In [100]:
ma = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']")
ma[0:10]

[]

In [101]:
for i in ma:
    title=i.text
    salary_r.append(title)
salary_r[0:10]

[]

In [102]:
import pandas as pd
table=pd.DataFrame({})

table['COMPANY']=company_name[0:10]
table['Salary Range']=salary_r[0:10]
table['Average Salary']=avg_salary[0:10]
table

Empty DataFrame
Columns: [COMPANY, Salary Range, Average Salary]
Index: []

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Detail required to scrap
->Brand
->Product Description
->Price
->Discount %

In [46]:
url = 'https://www.flipkart.com/'
driver.get(url)

btn = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']") #closing login popup
btn.click()

search_job = driver.find_element_by_class_name("_3704LK") #search bar
search_job.send_keys("sunglasses")

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']") #search button
search_btn.click()

time.sleep(4)

Brand=[]
Description=[]
Price=[]
Discount=[]
for i in range(0,3):
    brand_name=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]")
    for i in brand_name:
        Brand.append(i.text)
    desc=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in desc:
        Description.append(i.text)
    glass_price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in glass_price:
        Price.append(i.text)
    prod_disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in prod_disc:
        Discount.append(i.text)
    
    nxt=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    url=[]
    for i in nxt:
        url=i.get_attribute('href')
    time.sleep(2)
    driver.get(url)

Glass=pd.DataFrame({})
Glass['Brand'] = Brand
Glass['Description'] = Description
Glass['Price'] = Price
Glass['Discount'] = Discount
Glass

,Brand,Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹541,32% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
...,...,...,...,...
115,NuVew,"UV Protection, Mirrored, Gradient, Riding Glas...",₹310,79% off
116,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹399,73% off
117,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
118,elegante,UV Protection Wayfarer Sunglasses (Free Size),₹426,71% off
119,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...",₹756,79% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [47]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

time.sleep(4)

nxt=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
url=[]
for i in nxt:
    url=i.get_attribute('href')
driver.get(url)

time.sleep(4)

Rating=[]
Summary=[]
Full=[]
Discount=[]
for i in range(0,10):
    Ratings=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in Ratings:
        Rating.append(i.text)
    Summarys=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in Summarys:
        Summary.append(i.text)
    Full_desc=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
    for i in Full_desc:
        Full.append(i.text.replace("\n",' '))
    
    nxt=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    url=[]
    for i in nxt:
        url=i.get_attribute('href')
    time.sleep(2)
    driver.get(url)

In [50]:
pd.set_option('display.max_rows', None)
Review=pd.DataFrame({})
Review['Rating'] = Rating
Review['Summary'] = Summary
Review['Full Description'] = Full
Review

,Rating,Summary,Full Description
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,4,Good choice,So far it’s been an AMAZING experience coming ...
6,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
7,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
8,5,Perfect product!,Value for money❤️❤️ Its awesome mobile phone i...
9,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
10,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
11,5,Highly recommended,What a camera .....just awesome ..you can feel...
12,5,Worth every penny,It’s been almost a month since I have been usi...
13,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
14,4,Nice product,Awesome Phone. Slightly high price but worth. ...
15,5,Terrific,Really worth of money. i just love it. It is t...
16,5,Classy product,Superb Product !!! A big and worthy upgrade fr...
17,5,Highly recommended,It's my first time to use iOS phone and I am l...
18,5,Wonderful,This is my first ever I phone. Before this I w...
19,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
20,5,Must buy!,It’s an amazing product from apple and the cam...
21,5,Perfect product!,After 1 month use I found camera quality best ...
22,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
23,5,Wonderful,I just directly switch from iphone 6s to iphon...
24,5,Mind-blowing purchase,This will help you more. See if you are planni...
25,5,Great product,Well you all know the specifications . One of ...
26,5,Terrific purchase,The built quality is not very premium. The bat...
27,5,Simply awesome,Really good actually this is my first apple pr...
28,4,Good quality product,it is very good at performance. Camera is best...
29,1,Very poor,Reviewing again after 5 months. At the beginni...
30,5,Best in the market!,Great iPhone very snappy experience as apple k...
31,5,Perfect product!,It is just awesome mobile for this price from ...
32,5,Must buy!,Best Apple iPhone that i have bought at a very...
33,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
34,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
35,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
36,5,Wonderful,Superfast delivery by Flipkart. Thanks. 1. iP...
37,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
38,5,Great product,Again back to apple iphone after a gap of 2-3 ...
39,4,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone Cl...
40,4,Very Good,impressive super phone and best in class camer...
41,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
42,5,Classy product,Well while switching from android to iOS the f...
43,5,Perfect product!,"In love with this iphone great performance,cam..."
44,5,Just wow!,Best in class. Battery backup is good especial...
45,5,Awesome,Very excited to have this phone. This phone ha...
46,5,Terrific,I upgraded (downgraded?) from my iPhone X sinc...
47,5,Terrific purchase,Its Very awesome product working and good came...
48,5,Perfect product!,Best and amazing product.....phone looks so pr...
49,5,Brilliant,Excellent camera and display touching very nic...
50,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
51,5,Classy product,Totally in love with this ❤ the camera quality...
52,5,Awesome,"Always love the apple products, upgraded from ..."
53,5,Excellent,Amazing camera and feel super machine I am not...
54,1,Not recommended at all,They are selling cheep quality items. There is...
55,5,Fabulous!,awesome phone to have. it has got many smart f...
56,5,Excellent,Its a fabulous mobile look awesome performance...
57,5,Must buy!,Dear friends... I want to share my experience ...
58,5,Simply awesome,It's very high performances devise i am like t...
59,5,Brilliant,Amazing phone and on great deal I received wit...
60,5,Terrific purchase,finally an iPhone with very nice battery backu...
61,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
62,5,Simply awesome,Really satisfied with the Product I received.....
63,5,Perfect product!,Worth the money’ starting first from its perfo...
64,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
65,4,Value-for-money,I'm Really happy with the product Delivery was...
66,5,Just wow!,Great iphone. I am writing this review after 2...
67,5,Super!,Did an upgrade from 6s plus to iphone 11. Ao f...
68,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
69,5,Perfect product!,Value for money 5 star rating Excellent camera...
70,4,Value-for-money,Just got this iphone 11 And it is most powerfu...
71,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
72,5,Must buy!,I rate this product 5* as it has got amazing u...
73,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
74,5,Excellent,Just go for it. This phone is really amazing. ...
75,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
76,4,Good quality product,I was torn between the oneplus 8 pro and the i...
77,5,Awesome,I am using this phone for 5 days and its one o...
78,5,Excellent,It was amazing experience for me. Honestly i a...
79,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
80,5,Awesome,The phone is completely good As far as camera ...
81,3,Decent product,Everything u ll like it when u use this iPhone...
82,5,Wonderful,Nice value for money good and best price I pho...
83,5,Just wow!,The ultimate performance Camera is superb The ...
84,5,Super!,It's a great phone. From camera to display eve...
85,5,Super!,This is my first ever iPhone. And I truly don’...
86,5,Awesome,Can’t beat the software and hardware integrati...
87,5,Excellent,Value for money product. This iphone 11 is rea...
88,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
89,4,Wonderful,I genuinely liked it. One of the best mobile p...
90,4,Nice product,If you are looking for a premium phone under 5...
91,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
92,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
93,5,Classy product,We are on apple ecosystem for almost eight yea...
94,5,Excellent,A perfect phone and a good battery super camer...
95,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
96,5,Fabulous!,Product is nice at the deviled time the delive...
97,3,Does the job,phone is good but in display is 720p lcd in th...
98,5,Fabulous!,Everything is perfect pictures come out so cle...
99,5,Awesome,I dreamt about this day from a long time.... G...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker :
->Brand
->Product Description
->Price
->discount %

In [51]:
url = 'https://www.flipkart.com'
driver.get(url)

search_job = driver.find_element_by_class_name("_3704LK")
search_job.send_keys("sneakers")

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(4)

Brand=[]
Description=[]
Price=[]
Discount=[]
for i in range(0,3):
    brand_name=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]")
    for i in brand_name:
        Brand.append(i.text)
    desc=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in desc:
        Description.append(i.text)
    Shoes_price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in Shoes_price:
        Price.append(i.text)
    prod_disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in prod_disc:
        Discount.append(i.text)
    
    nxt=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    url=[]
    for i in nxt:
        url=i.get_attribute('href')
    time.sleep(2)
    driver.get(url)
    
Shoes=pd.DataFrame({})
Shoes['Brand'] = Brand[0:100]
Shoes['Description'] = Description[0:100]
Shoes['Price'] = Price[0:100]
Shoes['Discount'] = Discount[0:100]
Shoes

,Brand,Description,Price,Discount
0,Birde,Casual Shoes Sneakers For Men,₹293,70% off
1,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
2,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,62% off
3,KULP,Sneakers For Men,₹399,60% off
4,India hub,Fashionable casual sneakers shoes Sneakers For...,₹389,87% off
5,PEHANOSA,Sneakers For Men,₹499,50% off
6,Robbie jones,Sneakers For Men,₹449,55% off
7,BRUTON,Men Sports Sneakers For Men,₹254,80% off
8,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹377,62% off
9,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹349,65% off
10,TR,Sneakers For Men,₹449,77% off
11,U.S. POLO ASSN.,LEBRON 2.0 Sneakers For Men,"₹3,999",30% off
12,Chevit,Super 445 Fashion Sneakers For Men,₹348,55% off
13,bluemaker,casual for men (blue 06) Sneakers For Men,₹449,57% off
14,Chevit,Men's Combo Pack of 02 Shoes for Men Casual Sn...,₹423,75% off
15,Birde,Combo of 4 Sneakers For Men,₹498,57% off
16,3SIX5,ORIFWSH(OR)-1077 Sneakers For Men,₹214,65% off
17,Birde,Combo Pack of 4 Casual Shoes Sneakers For Men,₹698,60% off
18,Numenzo,Sneakers For Men,₹398,31% off
19,claptrap,Mesh Casual Sneakers Shoes for New Generation ...,₹341,65% off
20,Stefano Rads,Classy Sneakers For Men,₹242,43% off
21,HOTSTYLE,Sneakers Sneakers For Men,₹283,60% off
22,Absolute comfort,SOFT Sneakers For Men,₹199,47% off
23,JUBENTA,Latest Design Sneakers For Men,₹521,73% off
24,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹473,41% off
25,Birde,Men's Stylish Casual Shoes Sneakers For Men,₹293,62% off
26,Alfiya,Shoes in Black Color Party wear/Outdoor/Casual...,₹377,63% off
27,VORII,Latest Stylish Casual sneakers for men | Lace ...,₹360,62% off
28,restinfoot,"Casual shoes,Sneakers for men's,shoes for men'...",₹379,60% off
29,SCATCHITE,Sneakers Sneakers For Men,₹398,43% off
30,HOTSTYLE,Sneakers Sneakers For Men,₹283,55% off
31,bluemaker,Sneakers For Men,₹449,55% off
32,bluemaker,casual for men (beige 06) Sneakers For Men,₹449,58% off
33,ESSENCE,Sneakers For Men,₹416,58% off
34,Kraasa,Series 7 Sneakers For Men,₹416,70% off
35,Aircum,Men Combo Pack of 3 Casual Sneakers For Men,₹449,81% off
36,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,77% off
37,Chevit,Super & Trendy Men's Pack of 02 Pair Shoes for...,₹446,15% off
38,SPARX,SD-323 Sneakers For Men,₹630,36% off
39,Jack Diamond,Sneakers For Men,₹638,51% off
40,World Wear Footwear,Latest Collection-1227 Stylish Casual Sports S...,₹240,30% off
41,CAMPUS,EXPLORE Sneakers For Men,"₹1,329",72% off
42,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹679,70% off
43,Birde,Casual Shoes Sneakers For Men,₹293,54% off
44,ASTEROID,Skate Board White Shoes Men Running Flat PU Sn...,₹451,70% off
45,Zsyto,Sneakers For Men,₹378,55% off
46,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹449,75% off
47,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,59% off
48,Birde,Combo Pack of 4 Casual Shoes Sneakers For Men,₹799,52% off
49,ORICUM,Combo pack of 2 Casuals Shoes For Men (1563-15...,₹472,63% off
50,Ktiz,Rockstyle Trending Multicolor Ultralight canva...,₹474,80% off
51,BRUTON,Men Sports Sneakers For Men,₹254,60% off
52,Ktiz,Sneakers For Men,₹399,88% off
53,BRUTON,Combo Pack of 2 Casual Shoes Sneakers For Men,₹299,71% off
54,SWIGGY,"Casual Loafers, Sneakers Shoes for Men Pack of...",₹719,62% off
55,Fzzirok,Premium quality Sneakers For Men,₹379,85% off
56,India hub,Fashionable casual sneakers shoes Sneakers For...,₹449,66% off
57,FILA,EMERIL Sneakers For Men,"₹1,047",55% off
58,ADIDAS,Adiset M Sneakers For Men,"₹1,613",68% off
59,U.S. POLO ASSN.,LEBRON 2.0 Sneakers For Men,"₹3,999",55% off
60,Magnolia,White Sneakers Sneakers For Men,₹311,61% off
61,Robbie jones,Casual Sneakers Shoes For Men And Boys Sneaker...,₹449,47% off
62,HOTSTYLE,Sneakers For Men,₹192,70% off
63,JUBENTA,Latest Design Sneakers For Men,₹521,61% off
64,HOC,Casual Sneakers Shoes For Men Sneakers For Men,₹379,54% off
65,PUMA,Perforated Low IDP Sneakers For Men,"₹1,520",75% off
66,REEBOK,TREAD LITE LUX Sneakers For Men,"₹1,047",66% off
67,Birde,Combo of 4 Sneakers For Men,₹498,30% off
68,FILA,EMAN Sneakers For Men,"₹1,047",67% off
69,CAMPUS,EXPLORE Sneakers For Men,"₹1,329",31% off
70,Ktiz,Rockstyle Trending Multicolor Ultralight canva...,₹426,87% off
71,claptrap,Mesh Casual Sneakers Shoes for New Generation ...,₹341,48% off
72,BRUTON,Men Combo Pack of 2 Casual & Sneaker Shoes (Lo...,₹299,58% off
73,GUSTO,Sneakers For Men,₹664,63% off
74,ESSENCE,Sneakers For Men,₹416,71% off
75,VORII,Latest Stylish Casual sneakers for men | Lace ...,₹360,62% off
76,Jokatoo,casual sneaker shoes and partywear shoes Casua...,₹423,57% off
77,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹378,62% off
78,Chevit,170 Smart Grey Lace-Ups Casuals for Men Sneake...,₹211,49% off
79,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,48% off
80,PUMA,Trenzo II IDP Sneakers For Men,"₹1,500",65% off
81,Numenzo,Casual Sneaker Sneakers For Men,₹512,70% off
82,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹346,51% off
83,Birde,Casual Shoes Sneakers For Men,₹293,60% off
84,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,60% off
85,believe,Sneakers for men(black_6) Sneakers For Men,₹399,75% off
86,Absolute comfort,EVAW2 Sneakers For Men,₹199,55% off
87,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,66% off
88,BLACK BOTTOM,Fashion Outdoor Canvas Casual Light Weight Par...,₹449,59% off
89,FILA,EMAN Sneakers For Men,"₹1,047",80% off
90,SHOELIFE,Sneakers For Men,₹401,78% off
91,BRUTON,Men Sports Sneakers For Men,₹254,23% off
92,Axter,Combo Pack of 2 Casual Loafer Sneakers Shoes S...,₹299,77% off
93,SPARX,SM-162 Sneakers For Men,₹730,55% off
94,tigonis,Sneakers For Men,₹398,70% off
95,U.S. POLO ASSN.,LEBRON 2.0 Sneakers For Men,"₹3,999",23% off
96,bluemaker,casual for men (black 08) Sneakers For Men,₹449,47% off
97,LEATHERKRAFT,Sneakers For Men,₹296,61% off
98,SPARX,9019 Sneakers For Men,"₹1,038",62% off
99,JUBENTA,Latest Design Sneakers For Men,₹521,58% off

# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below imageAnd then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [52]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

time.sleep(2)
driver.find_element_by_xpath('//label[@class="common-customCheckbox"]/span[@data-colorhex="black"]').click() #selecting black color

time.sleep(2)
driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]/label/div').click() #filter 6649-13099 price

time.sleep(4)

Brand=[]
Description=[]
Price=[]
for i in range(0,2):
    brand_name=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3") #brand name
    for i in brand_name:
        Brand.append(i.text)
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]") #description of shoes
    for i in desc:
        Description.append(i.text)
    Shoes_price=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]") #shoes price
    for i in Shoes_price:
        a = i.text.split(" ") #splitting by space
        b = a[1][-3:]
        if(b.isnumeric()): #check if it's numeric
            pass
        else:
            a[1] = a[1][:-3]
        Price.append(a[1])
    
    nxt=driver.find_elements_by_xpath("//a[@rel='next']") #next button
    url=[]
    for i in nxt:
        url=i.get_attribute('href')
    time.sleep(2)
    driver.get(url)
    
Shoes=pd.DataFrame({})
Shoes['Brand'] = Brand
Shoes['Description'] = Description
Shoes['Price'] = Price
Shoes

                   Brand                          Description  Price
0                   Nike       AIR ZOOM PEGASUS Running Shoes  11495
1                   Nike          Men JORDAN DELTA Basketball  12495
2                   Nike            Men JOYRIDE Running Shoes  11246
3                   Nike         Men KD13 EP Basketball Shoes  12995
4                   Nike        Men REACT MILER Running Shoes   8246
5                   Nike       Women PEGASUS 37 Running Shoes   7496
6                   Nike          Men ZOOM FREAK 2 Basketball   7721
7                   Nike       Unisex LEBRON XVIII Basketball  12316
8                   Nike            Women REACT Running Shoes   7796
9                   Nike       Unisex COSMIC UNITY Basketball  11470
10          Hush Puppies    Men Solid Leather Formal Slip-Ons   8999
11          UNDER ARMOUR           HOVR Sonic 3 Running Shoes   8799
12          UNDER ARMOUR           Women HOVR Rise 2 Training   7499
13                ADIDAS        Women SUPERNOVA Running Shoes   6999
14                  Nike            Men JORDAN DELTA Sneakers  10995
15  FORCLAZ By Decathlon                   TREKKING 100 Boots   6999
16          UNDER ARMOUR        Charged Rogue 2 Wide 2E Shoes   7999
17                  Puma          Men UltraRide Running Shoes   6749
18                  Puma             Unisex RS-X Pop Sneakers   7499
19                 ASICS                  Women Running Shoes   9799
20                  Puma           Men Velocity Nitro Running  10999
21                 ASICS               Men Black Sports Shoes   9999
22          UNDER ARMOUR        Unisex SC 3ZER0 IV Basketball   8999
23                 ASICS                  Women Running Shoes   6999
24                  Nike           Men AIR FLIGHT 89 Sneakers   7721
25              Skechers           Women D'LITES 3.0 Sneakers   6999
26                Reebok           Forever Floatride Energy 2   9999
27      ADIDAS Originals       Men ZX 2K Boost Solid Sneakers   7699
28                  ALDO                        Women Sandals   8999
29                  ALDO                 Women Black Sneakers   7199
30          UNDER ARMOUR       Women TriBase Reign 2 Training   8999
31          UNDER ARMOUR        Charged Impulse Running Shoes   7999
32                 ASICS                    Men Running Shoes   6999
33                  ALDO                 Women Open Toe Flats   8999
34                  ALDO          Women Sneakers Casual Shoes   8399
35  Kalenji By Decathlon               Men KD500 Running Shoe   7857
36              RAPAWALK      Standard Width Leather Slip Ons   8850
37                  Geox         Men Leather Slip-On Sneakers   6643
38             J.FONTINI         Men Textured Leather Loafers   6990
39          UNDER ARMOUR        Women Charged Breathe OIL SLK   6749
40          UNDER ARMOUR           HOVR Sonic 3 Running Shoes  10999
41          Hush Puppies    Men Solid Leather Formal Slip-Ons   9999
42              RAPAWALK         Standard Width Leather Monks   8850
43              RAPAWALK       Standard Width Leather Oxfords   8850
44          Hush Puppies                    Men Formal Derbys   9999
45              RAPAWALK           Wide Width Leather Oxfords   8850
46  Heel & Buckle London                 Women Peep Toe Heels   7192
47             Cole Haan               Women Leather Sneakers   7699
48             Florsheim     Men Solid Leather Formal Loafers   6995
49   KIPRUN By Decathlon                  Women Running Shoes   7006
50             Florsheim     Men Solid Leather Formal Loafers   6995
51   KIPRUN By Decathlon                  Women Running Shoes   7006
52                  ALDO                 Women Open Toe Flats   7999
53              RAPAWALK          Wide Width Leather Slip Ons   8850
54              RAPAWALK       Standard Width Leather Oxfords   8850
55              RAPAWALK          Wide Width Leather Slip Ons   8850
56                ADIDAS             Women Edge Lux 4 Running   7999
57                  Puma           Men Liberate Nitro Running   9999
58             Cole Haan          Men Wingtip Oxford Sneakers  12999
59             Cole Haan  Men GENERATION ZEROGRAND STITCHLITE  11999
60                  FILA                 Men Leather Sneakers   7999
61             Cole Haan                     Leather Sneakers  10999
62                  FILA                   Men Solid Sneakers   7499
63                  FILA                         Men Sneakers   6999
64                  Geox            Men Leather Driving Shoes   6993
65                 Ruosh           Men Textured Leather Monks   6990
66                  Puma        Men IGNITE Dual Running Shoes   6999
67                ADIDAS             Women Supernova+ Running   7799
68                VIONIC                Men Textured Sneakers   7039
69             J.FONTINI         Men Textured Leather Loafers   7690
70          Hush Puppies      Men Colourblocked Driving Shoes   8999
71                  Nike         Men JORDAN ONE TAKE II Shoes   7465
72          Hush Puppies         Men Leather Slip-On Sneakers   9999
73                  Nike          Men AIR ZOOM PEGASUS 38 Run   9995
74                  Nike            Men Zoom Winflo 8 Running   7050
75                 Ruosh           Men Formal Leather Brogues   7490
76  Heel & Buckle London       Women Solid Leather Gladiators   6993
77  Heel & Buckle London            Women Solid Leather Heels   6993
78                  Nike            Men ZOOM WINFLO 6 Running   7195
79               Saint G                   Women Heeled Boots   7440
80                  Nike            Men REACT MILER 2 Running   8621
81               Saint G           Women Leather Heeled Boots   6675
82                  Nike            Men REACT MILER 2 Running   8621
83          UNDER ARMOUR            Charged Pursuit 2 Running   6999
84                 Ruosh    Men Solid Leather Formal Slip-Ons   6990
85               Lacoste            Men Woven Design Sneakers   8500
86               Lacoste    Men Woven Design Slip-On Sneakers   8500
87             Cole Haan                 Women Open Toe Flats   8399
88                  Nike       Men ZOOM WINFLO8 Running Shoes   8295
89             Cole Haan       Women Solid Leather Ballerinas   9799
90                  FILA                       Women Sneakers   8999
91                 Ruosh       Men Solid Leather Formal Monks   6990
92                  Geox             Women Leather Ballerinas   6643
93             Cole Haan          Women Woven Design Sneakers   6749
94  Heel & Buckle London           Men Leather Formal Oxfords   7693
95          UNDER ARMOUR          Liquify Rebel Running Shoes   8999
96  Heel & Buckle London                  Women Leather Pumps   7192
97          UNDER ARMOUR       Charged RC Sportstyle Sneakers   8999
98               Lacoste         Woven Design Casual Sneakers   7595
99                Reebok        Women Nanoflex Training Shoes   7599

# Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [53]:
url = 'https://www.amazon.in'
driver.get(url)

search_lap = driver.find_element_by_id("twotabsearchtextbox") #search box
search_lap.send_keys("Laptop")

time.sleep(2)

search_btn = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']") #submitting Laptop
search_btn.click()

time.sleep(2)

driver.find_element_by_xpath('//li[@aria-label="Intel Core i7"]/span/a/div/label').click() #adding condition for Intel Core i7

Name=[]
Lap_name=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']") #Laptop name
for i in Lap_name:
    Name.append(i.text)
    
Ratings=[]
Price=[]
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:5]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
    except NoSuchElementException as e:
        Ratings.append("NO rating")#appending the No rating if no rating is there
    try:                                                      #click the rating link found
        Lap_price=driver.find_element_by_xpath("//span[@id='priceblock_ourprice']")
        Price.append(Lap_price.text)
    except NoSuchElementException as e:
        Price.append("NAN")#appending the No rating if no rating is there

Laptop=pd.DataFrame({})
Laptop['Name'] = Name[0:5]
Laptop['Rating'] = Ratings
Laptop['Price'] = Price

url = 'https://www.amazon.in'
driver.get(url)

search_lap = driver.find_element_by_id("twotabsearchtextbox")
search_lap.send_keys("Laptop")

time.sleep(2)

search_btn = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
search_btn.click()

time.sleep(2)
try:
    driver.find_element_by_xpath('//li[@aria-label="Intel Core i9"]/span/a/div/label').click() #adding condition for Intel Core i9
except NoSuchElementException as e:
    print(e)
    
time.sleep(2)

Name=[]
Lap_name=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in Lap_name:
    Name.append(i.text)
    
Ratings=[]
Price=[]
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:5]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
    except NoSuchElementException as e:
        Ratings.append("NO rating")#appending the No rating if no rating is there
    try:                                                      #click the rating link found
        Lap_price=driver.find_element_by_xpath("//span[@id='priceblock_ourprice']")
        Price.append(Lap_price.text)
    except NoSuchElementException as e:
        Price.append("NAN")#appending the No rating if no rating is there
        
Laptops=pd.DataFrame({})
Laptops['Name'] = Name[0:5]
Laptops['Rating'] = Ratings
Laptops['Price'] = Price

Frames = [Laptop,Laptops]

result = pd.concat(Frames,ignore_index=True, sort=False)

result

,Name,Rating,Price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5,"₹ 54,999.00"
1,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.1 out of 5,"₹ 26,990.00"
2,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",4.7 out of 5,"₹ 89,990.00"
3,"ASUS ROG Zephyrus Duo 15, 15.6"" 4K UHD, Intel ...",3.8 out of 5,"₹ 2,69,990.00"
4,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.1 out of 5,"₹ 86,990.00"
5,(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...,NO rating,"₹ 1,70,587.00"
6,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...",3.7 out of 5,"₹ 5,39,322.00"
7,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...",2.4 out of 5,"₹ 2,49,990.00"
8,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,3.8 out of 5,"₹ 2,99,999.00"
9,"ASUS ROG Strix Scar 17 (2020), 17.3"" FHD 300Hz...",4.8 out of 5,"₹ 2,58,040.00"